langchain==0.0.215
pypdf2==3.0.1
python-dotenv==1.0.0
streamlit==1.24.0
openai==0.27.8
faiss-cpu==1.7.4
tiktoken==0.4.0
InstructorEmbedding==1.0.1
#sentence-transformers==1.1.1
huggingface-hub==0.14.1

#langchain==0.0.184
#openai==0.27.6
sentence-transformers==2.2.2
